.root {
    padding: var(--point);
}

.flat {
    width: 100%;
}

.collapse {
    padding: 0;
}

.collapseTop {
    padding-top: 0;
}

.collapseLeft {
    padding-left: 0;
}

.collapseRight {
    padding-right: 0;
}

.collapseBottom {
    padding-bottom: 0;
}

.collapseVertical {
    padding: 0 var(--point);
}

.collapseHorizontal {
    padding: var(--point) 0;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-inlineBlock {
    display: inline-block;
}

.display-inlineFlex {
    display: inline-flex;
}

.flexDirection-row {
    flex-direction: row;
}

.flexDirection-column {
    flex-direction: column;
}

.flexDirection-rowReverse {
    flex-direction: row-reverse;
}

.flexDirection-columnReverse {
    flex-direction: column-reverse;
}

.justifyContent-flexStart {
    justify-content: flex-start;
}

.justifyContent-flexEnd {
    justify-content: flex-end;
}

.justifyContent-spaceBetween {
    justify-content: space-between;
}

.justifyContent-spaceAround {
    justify-content: space-around;
}

.justifyContent-spaceEvenly {
    justify-content: space-evenly;
}

.justifyContent-stretch {
    justify-content: stretch;
}

.alignItems-flexStart {
    align-items: flex-start;
}

.alignItems-flexEnd {
    align-items: flex-end;
}

.alignItems-center {
    align-items: center;
}

.alignItems-stretch {
    align-items: stretch;
}
