.root {
    padding: var(--point);
}

.flat {
    width: 100%;
}

.collapse {
    padding: 0;
}

.collapseTop {
    padding-top: 0;
}

.collapseLeft {
    padding-left: 0;
}

.collapseRight {
    padding-right: 0;
}

.collapseBottom {
    padding-bottom: 0;
}

.collapseVertical {
    padding: 0 var(--point);
}

.collapseHorizontal {
    padding: var(--point) 0;
}
